@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
.list{
    background-color:  rgb(243, 193, 99);
    overflow: auto;


}
.listname{
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
     text-decoration: none;
     color: black;
     font-family: 'PT Sans', sans-serif;
     text-align: left;

   

}
.listname:hover{
    color: gray;
}




.detail{
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 150%;
    
}
.heading{
    margin:0;
    padding: 20px  10px;
    font-family: 'PT Sans', sans-serif;
}
.source{
    font-size: 10px;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
}